[flake8]
max-line-length = 88

max-complexity = 10

exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    .tox,
    .pytest_cache

ignore =
    E203,
    W503

select = E,W,F,C,B,D

per-file-ignores =
    __init__.py:F401,F403
    renzmc/__init__.py:E402
    renzmc/__main__.py:E402
    renzmc/repl.py:E402

count = True
statistics = True
